.banner{
    padding: 50px 140px;
    text-align: center;
    position: relative;
    display: flex;

}
.cover-pic{
    display:flex;
    position: relative;
    margin: auto;
    max-width: 1300px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
.banner-subtitle{
    position: absolute;
    top: 177px;
    right: 531px;
    bottom: 383px;
    left: 530px;
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 5px;

}
.banner-title{
    position: absolute;
    top: 283px;
    right: 344px;
    bottom: 177px;
    left: 344px;
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 5px;
    margin-top: 0;
}
.offer {
    text-align: center;
    
}
.sale {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.better-deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 5px;
}
.categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}
.newyear-pic{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}
.party{
    text-align: center;
    margin-top: 70px;
    position: relative;
    
}
.party-pic{
    position: relative;
    display: block;
    margin: auto;
    max-width: 1300px;
    height: 600px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.welcome-party{
    position: absolute;
    display: block;
    top: 126px;
    right: 552px;
    bottom: 298px;
    left: 126px;
    max-width: 640px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;

}
.party-details{
    position: absolute;
    display: block;
    top: 326px;
    right: 497px;
    bottom: 214px;
    left: 126px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    max-width: 650px;
    padding: 5px;
    
}

.join-party{
    position: absolute;
    display: block;
    top: 430px;
    right: 1050px;
    bottom: 140px;
    width: 80px;
    height: 25px;
}
.year{
    position: absolute;
    top: 20%;
    right: 15%;
    display: flex;
    width: 300px;
    height: 420px;
    padding: 10px;

}

.info{
    margin: 100px;
    padding: 130px;
    border-radius: 10px;
    background-color: antiquewhite;
}
